.bots-list{
    display: flex;
    gap:22px;
    justify-content: center;
    margin-top: 90px;
}
.title{
    padding-top: 50px;
    font-size: 60px;
    font-weight: 700;
    color:white;
    text-align: center;
}