.bots-list{
    display: flex;
    gap:12px;
    justify-content: center;
    margin-top: 50px;
}
.title{
    padding-top: 50px;
    font-size: 60px;
    font-weight: 700;
    color: rgb(35, 18, 18);
    text-align: center;
}