.chat-page {
  flex: 1;
  display: flex;
  flex-direction: column;
  position: relative;
  overflow: hidden;
  background: var(--color-bg);
  border-right: none;
  border-bottom: none;
  padding: 20px;
  padding-right: 0;
  width: 100%;

  .spinner {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
  }
}

.messages-list {
  width: 100%;
  height: 100%;
  flex: 1;
  display: flex;
  gap: 10px;
  flex-direction: column;
  overflow-x: hidden;
  overflow: scroll;
}

.no-messages {
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  color: grey;
}
