.avatar{
    border:1px solid  green;
    width: 120px;
    height: 120px;
    margin: 0 auto;
    border-radius: 50%;
    transition: 'outline 0.2s';
    &:hover{
        outline: 2px solid #3564ff;
    }
             
}