@import url(https://fonts.googleapis.com/css?family=Montserrat);
.card{
    display: flex;
    flex-direction: column;
   align-items: center;
    border-radius: 5px;
    background-color: #ffffff;
    box-shadow: 5px 2px 2px rgba(255, 255, 255, 0.31);
    width:220px;
    height: 270px;

    .botName{
        text-align: center;
        padding: 5px;
        font-size: 20px;
        font-weight: 600;
        font-family: 'Montserrat', sans-serif;
    }
    .botDescription{
        text-align: center;
        padding: 10px;
        font-size: 15px;
        font-family: 'Montserrat', sans-serif;
    }
    .cardButton{
        text-align: center;
        text-decoration: none;
        margin-top: auto;
        margin-bottom: 15px;
        width:130px;
        padding:10px 20px;
        background-color: #CB4118;
        color: #fff;
        font-size: 16px;
        border-radius: 10px;
        &:hover{
            background-color: #bd411b;
            color: rgb(255, 255, 255);
        }
    }
}