html,
#root {
  overflow: hidden;
  width: 100%;
  height: 100%;
  bottom: 0;
  left: 0;
  background-color: white !important;
  display: flex;
}

body {
  * {
    scroll-behavior: smooth;
    scrollbar-color: var(--color-scroll) transparent;
    scrollbar-width: thin;
    &::-webkit-scrollbar {
      width: 6px;
      height: 6px;
    }
    &::-webkit-scrollbar,
    &::-webkit-scrollbar-thumb {
      background-clip: padding-box;
    }

    &::-webkit-scrollbar-thumb {
      box-shadow: inset -2px -0px 0px 0px;
      &:horizontal {
        box-shadow: inset 0px -2px 0px 0px;
      }
    }

    &::-webkit-scrollbar-corner {
      background: transparent;
    }
  }
}

html {
  --color-bg: #ffffff;
  --color-main: black;
  --color-chat-button: #3a9afa;
  --color-chat-message: #ffffff;
  --color-bg-message: #3a9afa;
  --color-scroll: #3a9afa;
}

html.dark {
  --color-bg: #161719;
  --color-main: #ffffff;
  --color-chat-button: #3a9afa;
  --color-chat-message: #2c2e32;
  --color-bg-message: #3a9afa;
  --color-scroll: #3a9afa;
}

svg {
  stroke: currentColor;
  fill: currentColor;
}
