@import url(https://fonts.googleapis.com/css?family=Montserrat);
html,
#root {
  overflow: hidden;
  width: 100vw;
  height: 100vh;
  bottom: 0;
  left: 0;
  background-color: white !important;
  display: flex;
  font-family: 'Montserrat', sans-serif;
}
